body {
  margin: 0 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4 {
  font-weight: 500;
}

.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.site-header {
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
  padding-bottom: 2em;
}

.site-header .links {
  display: flex;
  background-color: black;
  cursor: pointer;
  padding: 0 5px;
}

.site-header .links a {
  margin-right: 1em;
  text-decoration: none;
  color: white;
}

